@import 'tailwindcss';

@config '../tailwind.config.ts';

@layer base {
	:root {
		--background: 180 8% 95%;
		--foreground: 150 8% 5%;

		--card: 160 10% 94%;
		--card-foreground: 150 8% 5%;

		--popover: 160 10% 94%;
		--popover-foreground: 150 8% 5%;

		--primary: 157 54% 18%;
		--primary-foreground: 180 9% 98%;

		--secondary: 160 12% 91%;
		--secondary-foreground: 150 8% 5%;

		--muted: 150 8% 91%;
		--muted-foreground: 157 9% 45%;

		--accent: 150 8% 91%;
		--accent-foreground: 150 8% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 160 9% 87%;
		--input: 160 9% 80%;
		--ring: 157 36% 72%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 60 3% 6%;
		--foreground: 0 0% 98%;

		--card: 60 6% 7%;
		--card-foreground: 0 0% 98%;

		--popover: 60 6% 7%;
		--popover-foreground: 0 0% 98%;

		--primary: 49 100% 50%;
		--primary-foreground: 0 0% 2%;

		--secondary: 45 5% 15%;
		--secondary-foreground: 0 0% 98%;

		--muted: 50 5% 22%;
		--muted-foreground: 50 5% 49%;

		--accent: 49 45% 14%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 60 5% 12%;
		--input: 45 4% 18%;
		--ring: 49 100% 40%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
